<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for i in join %}
        <li>{{i.title}}</li>
        <li>
            {{i.details.priority}}
        </li>
        {% endfor %}
    </div>
    <div>
    {% for j in project %}
        <h3>{{ j.name }}</h3>

        {% for k in j.task_set.all %}
            <p>{{ k.title }}</p>
        {% empty %}
            <p>No tasks</p>
        {% endfor %}

    {% endfor %}
</div>
 <p>{{task_cnt}}</p>
</body>
</html>